body { background:#333; margin:0; font-family:sans-serif; }
header, article, footer, section, figure { display:block; }
#content, .inner { width:1024px; margin:0 auto; }
header { margin-bottom:1em; }
header .topbar { background:#282828; height:22px;   }
header .topbar * { vertical-align:middle; }
header .logo { display:inline-block; width:130px; height:14px; margin-left:4px; text-indent:-9999px; background:url('redditisdown.png') no-repeat; }
header #countdown { display:none; margin-left:5px; font-size:10px; line-height:14px; color:gray; }
h1, h2, h3, h4 { margin:0; }
header h1, header h2 { font:bold 42px Arial, sans-serif; margin-bottom:2px; letter-spacing:-.02em; white-space:nowrap; }
header h1 .wrap, header h2 span.wrap { background:#171717; padding:0 10px; border-bottom:7px solid #101010; }
header h1 .start { padding-right:0; }
header h1 .site { position:relative; padding-left:0; text-decoration:none; }
header abbr { cursor:help; border:none; }
footer { background:#282828; border-top:2px solid #1b1b1b; padding:12px 0; color:#777; }
footer p { margin:0; }
footer a { color:#999; text-decoration:none; }
footer .love { float:right; }
h1, header h1 .site { color:#838383; }
h2 { color:#ff8b60; }
h3, h4 { color:white; }
a { color:white; }
section#content { padding-left:24px; color:#cbcbcb; }
#watch { width:400px; background:#282828; margin:0; margin-left:2em; margin-bottom:1em; padding:10px 14px; border:2px solid #565656; border-radius:12px; float:right; }
#watch h3 { color:#6d6d6d; font-size:11pt; }
.boxshadow #watch { border:none; box-shadow:0 0 15px #565656; }
#watch .screen { background:#111; width:100%; height:215px; margin:5px auto; }
section#feed { margin-top:30px; }
#feed .updates { max-height:25em; overflow:auto; }
#feed a.feed { display:inline-block; width:16px; height:16px; margin-left:.5em; background:url('feed.png'); text-indent:-9999px; }
#feed article, #feed article p { font-size:11pt; color:#aeaeae; }
#feed article time { float:left; }
#feed article p { margin-left:5.5em; }
#feed article.fresh time { color:#ff8b60; }
#feed article.fresh p { color:white; }
article#letter { font-size:13pt; margin-top:2em; }
#letter p { color:white; }
.act { margin:0; padding:0; }
.act li { display:inline; line-height:45px; }
.act a { background:#d56a42; margin-right:12px; padding:1px 10px; color:white; text-decoration:none; font:bold 16pt Arial, sans-serif; border-bottom:4px solid #93553d; white-space:nowrap; }
.act a:hover { background-color:#e7754b; }
.act a:active { position:relative; top:2px; border-width:3px; }
#more-info article { margin-bottom:2em; }
#more-info article p { margin-top:.25em; }
#more-info article h3 { margin-bottom:.25em; }
#more-info article h4 { margin-top:1em; }
#more-info .via { font-size:.85em; opacity:.55; }
#action-of-the-hour { position:relative; background:#282828; padding:14px; margin:2em 460px 2em -14px; }
#action-of-the-hour p { margin:.5em 0; }
#action-of-the-hour h3 { color:#c57050; font-size:15pt; }
#action-of-the-hour b { margin-left:.5em; color:#cbcbcb; font-weight:normal; font-style:normal; }
.hidden { display:none; }

@media only screen and (max-width:768px) {
  header h1, header h2 { font-size:32px; }
  #watch { width:auto; margin:0; float:none; }
  section#content { padding:0; }
  #action-of-the-hour { margin-left:0; margin-right:0; }
  .flow { width:100%; }
  img {float: none !important; display: block !important;}
}

@media only screen and (max-width:550px) {
  header h1, header h2 { font-size:30px; }
}

@media only screen and (max-width:440px) {
  header h1, header h2 { font-size:18px; }
}

@media only screen and (max-width:1024px) {
  #content, .inner { width:auto; margin:0 10px; }
}

@media only screen and (min-width:1024px) {
  #action-of-the-hour:before { content:''; position:absolute; display:block; top:21px; right:-30px; width:0; height:0; border:15px solid transparent; border-color:transparent transparent transparent #282828; }
}
